body {
    font: 0.8em Verdana,sans-serif;
    color: black;
    background-color: gray;
  	text-align: center;
}
.FrameGL {
	margin: auto;
	margin-left: auto;
	margin-right: auto;
	width: 1000px;
	padding: 10px 10px 10px 10px;
    background-color: yellow; 
}
